---
import Base from "./Base.astro"
import Header from "../components/Header.astro"
import Sidebar from "../components/Sidebar.astro"

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<Base title={title} description={description}>
  <Header />
  <div class="flex flex-1">
    <Sidebar />
    <main class="flex-1 px-8 py-6 lg:pl-72">
      <article class="prose-api max-w-4xl mx-auto">
        <slot />
      </article>
    </main>
  </div>
</Base>
