---
import Base from "./Base.astro"
import Header from "../components/Header.astro"
import Sidebar from "../components/Sidebar.astro"
import Footer from "../components/Footer.astro"

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<Base title={title} description={description}>
  <Header />
  <div class="flex flex-1 flex-row justify-start">
    <Sidebar />
    <main class="safe-x-4 md:safe-x-6 flex-1 justify-start">
      <article class="prose-api mx-auto w-full max-w-3xl justify-start [&_div]:justify-start">
        <slot />
      </article>
    </main>
  </div>
  <Footer />
</Base>
