---
const socials = [
  {
    imageUrl: "https://cdn.qualithm.com/brand/discord.svg",
    name: "Discord",
    url: "https://discord.gg/KUv2dMjv4G"
  },
  {
    imageUrl: "https://cdn.qualithm.com/brand/youtube.svg",
    name: "YouTube",
    url: "https://youtube.com/@qualithm"
  },
  {
    imageUrl: "https://cdn.qualithm.com/brand/bluesky.svg",
    name: "Bluesky",
    url: "https://bsky.app/profile/qualithm.com"
  },
  {
    className: "dark:invert",
    imageUrl: "https://cdn.qualithm.com/brand/github.svg",
    name: "GitHub",
    url: "https://github.com/qualithm"
  }
]
---

<footer
  class="safe-x-4 md:safe-x-6 flex-col gap-6 border-t border-[var(--border-dim)] p-6 text-center text-sm"
>
  <div class="items-center gap-6 md:flex-row md:justify-between">
    <nav class="flex-row flex-wrap items-center gap-6">
      <span class="text-[var(--fg-dim)]">MIT License</span>
    </nav>
    <nav class="flex-row items-center gap-6">
      {
        socials.map(({ className, imageUrl, name, url }) => (
          <a
            class={`size-6 ${className ?? ""}`.trim()}
            title={name}
            href={url}
            target="_blank"
            rel="noopener noreferrer"
          >
            <img alt={name} src={imageUrl} />
          </a>
        ))
      }
    </nav>
  </div>
</footer>
